.container-reservation {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5.3%;
}

.container-general{
    width: 100%;
    height: 100%;
}

.left-section,
.right-section {
    height: 100%;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img-fluid {
    max-width: 100%;
    height: 75%;
    opacity: 0.8;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 2px solid black;
}

#accordion {
    margin-top: 20px;
}

.card {
    margin-bottom: 10px;
}
