.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #CDFF04;
    color: #161315;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.scroll-to-top.show {
        display: block;
}
