@inherits LayoutComponentBase

<style>
    .contenedorBody {
        margin-top: 7%
    }



    body {
        /* display: flex;
        flex-direction: column; */
/*         border: 10px solid red;
 */        min-height: 100vh;
        grid-template-rows: auto 1fr auto;
        position: relative;
        display: grid;

    }
</style>

<main>

    <BlazorFronted.Pages.MenuConfig.Menu></BlazorFronted.Pages.MenuConfig.Menu>

    @Body


</main>
