@inherits LayoutComponentBase

<style>

    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    

    .my-footer {
        background-color: #161315;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        color: white;
    }

</style>

<main>
    <div class="wrapper">
        <main>
            <BlazorFronted.Pages.MenuConfig.Menu></BlazorFronted.Pages.MenuConfig.Menu>
                @Body
        </main>
        <footer class="my-footer">
            <BlazorFronted.Pages.Footer></BlazorFronted.Pages.Footer>
        </footer>
    </div>
</main>

