@inherits LayoutComponentBase

<style>
    .contenedorBody{
        margin-top: 7%
    }
</style>

<div class="page">
    
    <main>

        <BlazorFronted.Pages.MenuConfig.Menu></BlazorFronted.Pages.MenuConfig.Menu>

        <div class="contenedorBody">
            @Body
        </div>
        <BlazorFronted.Pages.Footer></BlazorFronted.Pages.Footer>
    </main>
</div>
