@inject IJSRuntime JSRuntime

<style>


    .footer-links a {
        color: #fff;
        text-decoration: none;
        margin-right: 15px;
        transition: color 0.3s ease;
        margin-top: auto;
    }

        .footer-links a:hover {
            color: #adb5bd;
        }

    a:hover {
        color: #adb5bd;
    }

    .contact-section {
        background-color: #f8f9fa; /* Color de fondo claro */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-title {
        font-size: 1.25rem;
        margin-bottom: 15px;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .contact-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .contact-list li {
            margin-bottom: 10px;
            font-size: 1rem;
        }

            .contact-list li strong {
                color: #555;
            }

        .contact-list a {
            color: #007bff;
            text-decoration: none;
        }

            .contact-list a:hover {
                text-decoration: underline;
            }

            .logoFooter{
        /* margin-left: 30px; */
        line-height: 80px;
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
        /* float: left;*/
            }

</style>



<AuthorizeView Roles="User,Instructor">
    <Authorized>
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center text-md-start">
                    <img src="/img/img-mgp/logoAzuladoMGP-removebg-preview.png" alt="LOGO MGP" class="logo-img">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <h5>Siguenos</h5>
                    <ul class="list-inline footer-links">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/?stype=lo&deoia=1&jlou=AfdmnxrzujNx9-HCxeA7CmUkj6s5b6iT6OhaA4kuU7Zk9TDDHvJuL8Om2Zo3BiLlwP0BxfbSsDahG1bNSOzkgv54N-5rwuMpW7H0afUgQxt4lw&smuh=42600&lh=Ac_l-kvjqZO6rRkz4k0">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 text-md-start">
                    <p class="text-white">© 2024 SALA MGP. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <ul class="list-inline footer-links">
                        <li class="list-inline-item">
                            <a href="privacypolicy">Politica de Privacidad</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://maps.app.goo.gl/VmPy78UnaUwSocx39">Ubicación</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </Authorized>
</AuthorizeView>

<AuthorizeView>

    <NotAuthorized>


        <div class="container ">
            <div class="row">
                <div class="col-md-3">
                    <a class="logoFooter text-white" href="#">
                        <img src="/img/img-mgp/logoAzuladoMGP-removebg-preview.png" alt="LOGO MGP" class="logo-img">
                    </a>
                </div>
                <div class="col-md-3 ">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <h5>Siguenos</h5>
                    <ul class="list-inline footer-links">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/people/Sala-Mgp/100072418697890/">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/sala_mgp/">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 text-md-start">
                    <p class="text-white">© 2024 SALA MGP. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <ul class="list-inline footer-links">
                        <li class="list-inline-item">
                            <a href="privacypolicy">Politica de Privacidad</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="register">Registrate</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://maps.app.goo.gl/VmPy78UnaUwSocx39">Ubicación</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </NotAuthorized>
</AuthorizeView>

@code {
}
