@inject IJSRuntime JSRuntime

<style>
    

    .footer-links a {
        color: #fff;
        text-decoration: none;
        margin-right: 15px;
        transition: color 0.3s ease;
        margin-top: auto;
    }

    .footer-links a:hover {
      color: #adb5bd;
    }

    a:hover {
        color: #adb5bd;
    }

    .contact-section {
        background-color: #f8f9fa; /* Color de fondo claro */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-title {
        font-size: 1.25rem;
        margin-bottom: 15px;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .contact-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .contact-list li {
       margin-bottom: 10px;
      font-size: 1rem;
    }

    .contact-list li strong {
        color: #555;
     }

    .contact-list a {
       color: #007bff;
       text-decoration: none;
    }

    .contact-list a:hover {
       text-decoration: underline;
    }

</style>

    

<AuthorizeView Roles="User">
    <Authorized>
        <div class="container" id="contact">
            <div class="row">
                <div class="col-md-3">
                    <a class="logo text-white" href="#">GYM <em>PAG</em></a>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3 contact-section">
                    <h5 class="contact-title">Contactanos</h5>
                    <ul class="list-unstyled contact-list">
                        <li><strong>Email:</strong> <a href="mailto:pabloalcudia18@gmail.com">pabloalcudia18@gmail.com</a></li>
                        <li class="text-black"><strong>Teléfono:</strong>+34 123 456 789</li>
                        <li class="text-black"><strong>Dirección:</strong> 14620 C/Sevilla, Córdoba, España</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Siguenos</h5>
                    <ul class="list-inline footer-links">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/?stype=lo&deoia=1&jlou=AfdmnxrzujNx9-HCxeA7CmUkj6s5b6iT6OhaA4kuU7Zk9TDDHvJuL8Om2Zo3BiLlwP0BxfbSsDahG1bNSOzkgv54N-5rwuMpW7H0afUgQxt4lw&smuh=42600&lh=Ac_l-kvjqZO6rRkz4k0">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiu7Yz026uGAxVrVqQEHSfxDxkQFnoECAcQAQ&url=https%3A%2F%2Ftwitter.com%2Flogin%3F&usg=AOvVaw2uUQ3oCKn8t-f-iYUxeXYo&opi=89978449">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/pablo-alcudia-gutierrez-480220295/">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-white">© 2024 GYM PAG. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-6 text-end">
                    <ul class="list-inline footer-links">
                        <li class="list-inline-item">
                            <a href="privacypolicy">Politica de Privacidad</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://maps.app.goo.gl/VmPy78UnaUwSocx39">Ubicación</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
                
        
    </Authorized>

</AuthorizeView>

<AuthorizeView Roles="Instructor">
    <Authorized>
        <div class="container" id="contact">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p class="text-white">© 2024 GYM PAG. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6 text-end">
                <ul class="list-inline footer-links">
                    <li class="list-inline-item">
                        <a href="#">Politica de Privacidad</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://maps.app.goo.gl/VmPy78UnaUwSocx39">Ubicación</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </Authorized>
</AuthorizeView>

<AuthorizeView>

    <NotAuthorized>

        
            <div class="container ">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo text-white" href="#">GYM <em>PAG</em></a>
                    </div>
                    <div class="col-md-3 ">

                    </div>
                    <div class="col-md-3 contact-section">
                        <h5 class="contact-title">Contactanos</h5>
                        <ul class="list-unstyled contact-list">
                            <li><strong>Email:</strong> <a href="mailto:pabloalcudia18@gmail.com">pabloalcudia18@gmail.com</a></li>
                            <li class="text-black"><strong>Teléfono:</strong>+34 123 456 789</li>
                            <li class="text-black"><strong>Dirección:</strong> 14620 C/Sevilla, Córdoba, España</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Siguenos</h5>
                        <ul class="list-inline footer-links">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-white">© 2024 GYM PAG. Todos los derechos reservados.</p>
                    </div>
                    <div class="col-md-6 text-end">
                        <ul class="list-inline footer-links">
                            <li class="list-inline-item">
                                <a href="#">Politica de Privacidad</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="register">Registrate</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://maps.app.goo.gl/VmPy78UnaUwSocx39">Ubicación</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task export()
    {

        await JSRuntime.InvokeVoidAsync("GenerarMapa");

    }
}
