@page "/"
@inject IJSRuntime JSRuntime
@inject IAuthService AuthService

<PageTitle>Inicio</PageTitle>


<style>
    #map {
        height: 180px;
    }

    #call-to-action {
        padding: 120px 0px;
        background-image: url(../img/img-mgp/luxa.org-opacity-changed-imgHomeFooterOpacity.jpg);
        background-color: rgba(0, 0, 0, 0.8);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }


    .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
        color: #CDFF04;
    }

    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 7px;
        width: 100%;
    }


    #bg-video {
        min-width: 100%;
        min-height: 100vh;
        max-width: 100%;
        object-fit: cover;
        max-height: 100vh;
        z-index: -1;
    }

        #bg-video::-webkit-media-controls {
            display: none !important;
        }

    h2, h4 {
        font-family: Wide;
        color: white;
    }

    p {
        font-family: Open sans;
        font-size: 15px;
    }

    .container2 {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        background: linear-gradient(135deg, #161315 70%, #CDFF04 30%);
    }

    .text-section {
        flex: 1;
        padding: 20px;
        color: #fff;
        z-index: 1;
        position: relative;
    }

    

        .image-section img {
            max-width: 90%;
            height: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

    .text-section h2 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .text-section h1 {
        margin: 0.5rem 0;
        font-size: 2.5rem;
        text-align: left;
    }

    .text-section p {
        margin: 1rem 0 0;
        font-size: 1rem;
        text-align: left;
    }



    .image-section {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .image-about {
        width: 70%;
    }

    @media (min-width: 769px) {
    .container2 {
        flex-direction: row; /* Change to row on larger screens */
        justify-content: space-between;
    }

    .text-section, .image-section {
        flex: 1;
        width: 50%;
    }

    .text-section {
        text-align: left;
    }

    .image-about {
        max-width: 90%;
    }
}

</style>


<div class="main-banner" id="top">
    <img src="/img/img-mgp/luxa.org-opacity-changed-img4.jpg" id="bg-video" />

    <div class="image-overlay header-text">
        <div class="caption">
            <AuthorizeView Roles="User">
                <Authorized>
                    <h4>DE FORMA RAPIDA, SENSILLA Y DIVERTIDA</h4>
                    <h2 class="d-flex justify-content-center">EN NUESTRA SALA</h2>
                    <h3><a href="reservation" class="poppins-black">RESERVAR</a></h3>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Instructor">
                <Authorized>
                    <h4>LIDERA CON EJEMPLO, INSPIRA A TODOS</h4>
                    <h2 class="d-flex justify-content-center">¡BIENVENIDO ADMIN!</h2>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView>
                <NotAuthorized>
                    <h4>DE FORMA RAPIDA, SENSILLA Y DIVERTIDA</h4>
                    <h2 class="d-flex justify-content-center">EN NUESTRA SALA</h2>
                    <h3><a href="register" class="poppins-black">Registrate</a></h3>
                </NotAuthorized>
            </AuthorizeView>

        </div>
    </div>
</div>


<div class="container2">
    <div class="text-section">
        <h2>SOBRE NOSOTROS</h2>
        <h1>Bienvenido<br>a sala mgp</h1>
        <p>Somos una empresa especializada en transformaciones físicas a través de la pérdida de peso, recomposición corporal y tonificación con más de 4 años de experiencia en el sector y cientos de clientes satisfechos con su transformación física gracias a nuestro Reto De 6 Semanas.</p>
    </div>
    <div class="image-section">
        <img src="/img/img-mgp/img5.jpg" class="image-about" alt="Fitness Image">
    </div>
</div>


<section class="section" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content ">

                    <h2>NO LO PIENSES, EMPIEZA AHORA!</h2>

                </div>
            </div>
        </div>
    </div>
</section>

<ScrollToTop />

@code {
    private string userRole;

    protected override async Task OnInitializedAsync()
    {
        userRole = await AuthService.GetRole();
    }

    private async Task export()
    {

        await JSRuntime.InvokeVoidAsync("GenerarMapa");

    }



}