@page "/"

<PageTitle>Inicio</PageTitle>

<h1>PAG GYM: Reserva tus Clases de Gimnasio Online</h1>

<h3>
    PAG GYM es tu plataforma online para reservar clases de gimnasio de manera rápida y sencilla.
    Explora una amplia variedad de clases, desde yoga hasta entrenamiento de alta intensidad, y reserva tu lugar con solo unos clics. 
    Con horarios flexibles y una interfaz intuitiva, encontrar y asegurar tu próxima clase nunca ha sido tan fácil. 
    ¡Únete a nuestra comunidad de fitness hoy mismo y lleva tu entrenamiento al siguiente nivel con PAG GYM!
</h3>