@page "/"
@inject IJSRuntime JSRuntime
@inject IAuthService AuthService

<PageTitle>Inicio</PageTitle>


<style>
    #map {
        height: 180px;
    }

    #call-to-action {
        padding: 120px 0px;
        background-image: url(../img/luxa.org-opacity-changed-backgroundHomeFooter.jpg);
        background-color: rgba(0, 0, 0, 0.8);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }

</style>


<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="img/gym-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <AuthorizeView Roles="User">
                <Authorized>
                    <h6>TRABAJA MÁS DURO, HAZTE MÁS FUERTE</h6>
                    <h2>FÁCIL CON NUESTRO GIMNASIO</h2>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Instructor">
                <Authorized>
                    <h6>LIDERA CON EJEMPLO, INSPIRA A TODOS</h6>
                    <h2>¡BIENVENIDO ADMIN!</h2>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView>
                  <NotAuthorized>
                    <h6>TRABAJA MÁS DURO, HAZTE MÁS FUERTE</h6>
                    <h2>FÁCIL CON NUESTRO GIMNASIO</h2>
                </NotAuthorized>
            </AuthorizeView>

        </div>
    </div>
</div>


<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Este es tu GIMNASIO IDEAL</h2>
                    <img src="img/line-dec.png" alt="waves">
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="First One">
                        </div>
                        <div class="right-content">
                            <h4>Instalaciones Modernas</h4>
                            <p> Nuestro gimnasio está equipado con máquinas y pesas de última generación para ofrecerte la mejor experiencia de entrenamiento.</p>

                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="second one">
                        </div>
                        <div class="right-content">
                            <h4>Entrenadores Profesionales</h4>
                            <p>Contamos con un equipo de entrenadores certificados y con amplia experiencia.</p>

                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="third gym training">
                        </div>
                        <div class="right-content">
                            <h4>Clases Grupales</h4>
                            <p>Ofrecemos una variedad de clases grupales que incluyen YOGA, TRX, FUERZA, y más. Estas clases son una excelente manera de mantenerse motivado y conocer a otros miembros del gimnasio.</p>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="fourth muscle">
                        </div>
                        <div class="right-content">
                            <h4>Ambiente Seguro y Limpio</h4>
                            <p>Mantenemos un alto estándar de limpieza e higiene en todas nuestras instalaciones.</p>

                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="training fifth">
                        </div>
                        <div class="right-content">
                            <h4>Clases Intensas</h4>
                            <p>Nuestras clases son de una hora de puro esfuerzo y dando mucha caña para poder dar los mejores resultados.</p>

                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="gym training">
                        </div>
                        <div class="right-content">
                            <h4>Zona de Relajación</h4>
                            <p>Después de un intenso entrenamiento, relájate en nuestra zona de descanso equipada con sauna y áreas de relajación.</p>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content ">

                        <h2>NO LO PIENSES, EMPIEZA AHORA!</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>

<ScrollToTop />

@code {
    private string userRole;

    protected override async Task OnInitializedAsync()
    {
        userRole = await AuthService.GetRole();
    }

    private async Task export()
    {
        
        await JSRuntime.InvokeVoidAsync("GenerarMapa");

    }

    

}