@page "/"
@inject IJSRuntime JSRuntime
@inject IAuthService AuthService
<PageTitle>Home</PageTitle>


<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="img/gym-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>TRABAJA MÁS DURO, HAZTE MÁS FUERTE</h6>
            <h2>FÁCIL CON NUESTRO <em>GIMNASIO</em></h2>
            
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->



<!-- ***** Features Item Start ***** -->
<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Escoge el <em>Programa</em></h2>
                    <img src="img/line-dec.png" alt="waves">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu tellus sapien. Mauris sagittis ultricies risus, vel venenatis nisi dictum sit amet. Mauris ultrices, velit id sodales hendrerit, quam diam viverra nisi, volutpat interdum libero est vitae ex.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="First One">
                        </div>
                        <div class="right-content">
                            <h4>Basic Fitness</h4>
                            <p>Morbi id arcu ut ligula rhoncus tempus. Mauris at lacinia dolor, ac semper arcu.</p>
                            
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="second one">
                        </div>
                        <div class="right-content">
                            <h4>New Gym Training</h4>
                            <p>Quisque vulputate bibendum neque vel gravida. Sed suscipit posuere maximus. Donec eget urna lectus. Sed finibus gravida rhoncus.</p>
                            
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="third gym training">
                        </div>
                        <div class="right-content">
                            <h4>Basic Muscle Course</h4>
                            <p>Phasellus tincidunt felis nec dolor posuere accumsan. Morbi eu facilisis diam, sit amet porta elit. Integer neque sem, suscipit eget blandit eget, ullamcorper ut arcu.</p>
                            
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="fourth muscle">
                        </div>
                        <div class="right-content">
                            <h4>Advanced Muscle Course</h4>
                            <p>Nam maximus mauris nisi. Ut sit amet consectetur magna. Etiam placerat suscipit scelerisque. Nunc odio augue, luctus ac justo cursus, porta rhoncus elit.</p>
                            
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="training fifth">
                        </div>
                        <div class="right-content">
                            <h4>Yoga Training</h4>
                            <p>Aenean viverra metus augue, id lobortis neque facilisis vitae. Maecenas sed bibendum tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="img/features-first-icon.png" alt="gym training">
                        </div>
                        <div class="right-content">
                            <h4>Body Building Course</h4>
                            <p>Nulla dui sem, tincidunt quis placerat in, finibus sit amet metus. Sed hendrerit velit velit, quis hendrerit odio tempus eu. </p>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Item End ***** -->

<!-- ***** Call to Action Start ***** -->
<section class="section bg-black" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content ">
                    <h2>NO LO<em>PIENSES</em>, EMPIEZA <em>AHORA</em>!</h2>
                    <p>Pellentesque convallis, augue lobortis lacinia venenatis, mi augue sagittis lectus, egestas tristique mi velit vel felis. </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->

@code {
    private string userRole;

    protected override async Task OnInitializedAsync()
    {
        userRole = await AuthService.GetRole();
    }
}