

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <div>
                <img src="" alt="Logo de la App" width="100">
            </div>
            <span class="fs-4">PAG GYM</span>
        </a>

        <AuthorizeView>
            <Authorized>
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="Logout" class="nav-link">Log out</a></li>
                </ul>
            </Authorized>
            <NotAuthorized>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="btn btn-primary mx-2" href="login" role="button">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                </ul>
                
            </NotAuthorized>
        </AuthorizeView>

    </header>
</div>


