@inject NavigationManager NavigationManager



<header class="header-area header-sticky">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">GYM <em> PAG</em></a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Inicio</a></li>
                        <li class="scroll-to-section"><a href="#features">Acerca de</a></li>

                        <li class="scroll-to-section"><a href="#contact-us">Contacto</a></li>
                        <AuthorizeView>
                            <Authorized>
                                <li class="scroll-to-section"><a href="#our-classes">Clases</a></li>
                                <li class="scroll-to-section"><a href="#schedule">Reservas</a></li>
                                <li class="main-button"><a href="logout">Cerrar Sesión</a></li>
                            </Authorized>
                            <NotAuthorized>
                                <li class="main-button"><a href="login">Iniciar Sesion</a></li>
                            </NotAuthorized>
                        </AuthorizeView>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>



