@inject NavigationManager NavigationManager

@inject IAuthService AuthService

<header class="header-area header-sticky">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">GYM <em> PAG</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Inicio</a></li>
                        <li class="scroll-to-section"><a href="#features">Acerca de</a></li>

                        <li class="scroll-to-section"><a href="#contact-us">Contacto</a></li>

                        <AuthorizeView>

                            <Authorized>
                                @if (userRole.ToUpper() == "USER")
                                {
                                    <li class="scroll-to-section"><a href="clases">Clases</a></li>
                                    <li class="scroll-to-section"><a href="reservas">Reservar</a></li>
                                    <li class="main-button"><a href="logout">Cerrar Sesión</a></li>
                                }
                                else if (userRole.ToUpper() == "INSTRUCTOR")
                                {
                                    <li class="scroll-to-section"><a href="clases">Crear Clases</a></li>
                                    <li class="scroll-to-section"><a href="reservas">Mirar Reservas</a></li>
                                    <li class="main-button"><a href="logout">Cerrar Sesión</a></li>

                                }
                            </Authorized>
                            <NotAuthorized>
                                <li class="main-button"><a href="login">Iniciar Sesion</a></li>
                            </NotAuthorized>
                        </AuthorizeView>

                        @* <AuthorizeView Roles="Instructor, User">
                        <Authorized>
                        <li class="scroll-to-section"><a href="clases">Crear Clase</a></li>
                        <li class="scroll-to-section"><a href="reservas">Reservas</a></li>
                        <li class="main-button"><a href="logout">Cerrar Sesión</a></li>
                        </Authorized>
                        <NotAuthorized>
                        <li class="main-button"><a href="login">Iniciar Sesion</a></li>
                        </NotAuthorized>
                        </AuthorizeView> *@

                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>


@code {
    private string userRole;

    protected override async Task OnInitializedAsync()
    {
        userRole = await AuthService.GetRole();
    }
}
