@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@inject IAuthService AuthService



<style>
    .cabecera {
        position: fixed;
    }
</style>

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">GYM <em> PAG</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/">Inicio</a></li>


                        <AuthorizeView Roles="Instructor">

                            <Authorized>

                                <li class="scroll-to-section"><a href="listclassadmin">Clases</a></li>
                                <li class="scroll-to-section"><a href="useradminmanage">Gestionar Usuarios</a></li>
                                <li class="main-button"><a href="logout">Cerrar Sesión</a></li>

                            </Authorized>
                        </AuthorizeView>

                        <AuthorizeView Roles="User">

                            <Authorized>
                                <li class="scroll-to-section"><a href="#features">Acerca de</a></li>
                                <li class="scroll-to-section"><a href="#contact-us">Contacto</a></li>
                                <li class="scroll-to-section"><a href="clases">Clases</a></li>
                                <li class="scroll-to-section"><a href="reservas">Reservar</a></li>
                                <li class="main-button"><a href="logout">Cerrar Sesión</a></li>

                            </Authorized>
                        </AuthorizeView>

                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>


@code {
    private string userRole;

    protected override async Task OnInitializedAsync()
    {
        userRole = await AuthService.GetRole();
        await GuardarRolEnAlmacenamientoLocal(userRole);
    }

    private async Task GuardarRolEnAlmacenamientoLocal(string rol)
    {
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "Role", rol);
    }
}
