@page "/privacypolicy"
@using System

<style>
    h3, h4 {
        color: #343a40;
    }

    p, ul {
        color: #555;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

        ul li {
            margin-bottom: 5px;
        }

</style>


<div class="container mt-5">
    <h3 class="text-center">Política de Privacidad</h3>

    <div class="mt-4">
        <p><strong>Última actualización:</strong> @(DateTime.Now.ToString("dd-MM-yyyy"))</p>
        <p>
            En <strong>GYM <em>PAG</em></strong>, valoramos la privacidad de nuestros usuarios y estamos comprometidos a proteger la información personal que recopilamos. Esta Política de Privacidad explica cómo recopilamos, usamos, y compartimos su información cuando utiliza nuestro sitio web de gestión de reservas de clases.
        </p>

        <h4 class="mt-4">1. Información que Recopilamos</h4>
        <p>
            Podemos recopilar y procesar la siguiente información personal:
            <ul class="list-unstyled ml-3">
                <li><i class="fa fa-check-circle"></i> Nombre</li>
                <li><i class="fa fa-check-circle"></i> Dirección de correo electrónico</li>
                <li><i class="fa fa-check-circle"></i> Detalles de la clase reservada</li>
            </ul>
        </p>

        <h4 class="mt-4">2. Cómo Usamos su Información</h4>
        <p>
            Utilizamos la información recopilada para los siguientes propósitos:
            <ul class="list-unstyled ml-3">
                <li><i class="fa fa-check-circle"></i> Gestionar y confirmar sus reservas de clases</li>
                <li><i class="fa fa-check-circle"></i> Comunicarnos con usted sobre sus reservas y actualizaciones del servicio</li>
                <li><i class="fa fa-check-circle"></i> Personalizar y mejorar su experiencia en nuestro sitio web</li>
            </ul>
        </p>

        <h4 class="mt-4">3. Compartición de Información</h4>
        <p>
            No compartimos su información personal con terceros, excepto en las siguientes circunstancias:
            <ul class="list-unstyled ml-3">
                <li><i class="fa fa-check-circle"></i> Cuando sea necesario para procesar sus reservas y pagos</li>
                <li><i class="fa fa-check-circle"></i> Para cumplir con obligaciones legales</li>
                <li><i class="fa fa-check-circle"></i> En caso de fusión, adquisición o venta de la empresa</li>
            </ul>
        </p>

        <h4 class="mt-4">4. Seguridad de la Información</h4>
        <p>
            Tomamos medidas razonables para proteger su información personal contra pérdida, robo y uso no autorizado, acceso o modificación. Sin embargo, no podemos garantizar la seguridad completa de la información transmitida a través de Internet.
        </p>

        <h4 class="mt-4">5. Cambios a esta Política de Privacidad</h4>
        <p>
            Podemos actualizar esta Política de Privacidad de vez en cuando. Le notificaremos sobre cualquier cambio publicando la nueva política en esta página. Le recomendamos revisar esta política periódicamente para estar informado sobre cómo protegemos su información.
        </p>

        <h4 class="mt-4" id="contact">Contactenos</h4>
            <ul class="list-unstyled ml-3">
            <li><i class="fa fa-check-circle"></i>  <strong>Email:</strong> <a href="mailto:gympag.soporte@gmail.com">gympag.soporte@gmail.com</a></li>
            <li><i class="fa fa-check-circle"></i> <strong>Teléfono:</strong>+34 123 456 789</li>
            <li><i class="fa fa-check-circle"></i>  <strong>Dirección:</strong> 14620 C/Sevilla, Córdoba, España</li>
            </ul>
    </div>
</div>

<ScrollToTop />

