@page "/reservation/{idClass:int}"
@using GYM_DTOs.EntityDTO

<h3>Reservar Clase</h3>



@code {
    [Parameter]
    public int idClass { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
       
    }

}
